.duels-dashboard-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  .match-history-container {
    width: 50%;
    display: inline-block;
    justify-content: center;
  }

  
  .profile-header-container {
    width: 100%;
    height: 50%;
    /* background-color: #883737; */
    /* background-color:#79c79f; */
    /* background-color: rgb(64, 64, 180); */
    background-color: #262525;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom:1.5rem;
  }

  .profile-header-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;


  }

.new-match-details-container {
    display: inline-block;
    width: 100%;
    align-items: center;
    text-align: center;
}

.in-progress-match-container {

    background-color: rgb(158, 158, 199);
    margin-top: 3rem;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10px 10px 10px 10px;

    border-radius: 10px;

}
  
.victory-match-container {
/* background-color: rgb(123, 188, 197); */
background-color: rgb(123, 188, 197);
margin-top: 3rem;
display: flex;
width: 100%;
height: 100%;
align-items: center;
padding: 10px 10px 10px 10px;

border-radius: 10px;
}

.defeat-match-container {
background-color: rgb(170, 134, 129);
margin-top: 3rem;
display: flex;
width: 100%;
height: 100%;
align-items: center;
padding: 10px 10px 10px 10px;

border-radius: 10px;
}

.match-details-header {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.match-history-pfp {

  border-radius: 20%;
  min-width: 224px;
  min-height: 224px;
  max-width: 224px;
  max-height: 224px;
  margin-bottom: 1rem;
  margin-right: 2.5rem;
  margin-left: 1.5rem;
  
}

.recent-matches-header {
  /* background-color: #ffffff; */
  background-color: #262525;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: -2.5rem;
  margin-top: 1rem;
}

.recent-matches-label {
  text-align: left;
  font-size: 20px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color:white;
}


@media (max-width: 1200px) {
    .match-history-container {
        width: 90%;
    }

    .match-history-pfp {
      min-width: 150px;
      min-height: 150px;
      max-width: 150px;
      max-height: 150px;

    }


}